<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>servlethello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 为 HelloServlet 配置 浏览器可以访问虚拟 路径 -->	
	<servlet>
		<!-- 为 Servlet程序  命名 -->
		<servlet-name>helloservlet</servlet-name>
		<!-- Servlet全路径 ： 包名.类名 -->
		<servlet-class>cn.helloservlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>helloservlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
  
</web-app>